<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<style>
		body {
			background-color: #f8f9fa;
		}

		.container {
			background-color: #fdfdfd;
			border-radius: 5px;
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
			padding: 30px;
		}

		#pie {
			background-color: #343a40;
			color: #fff;
			padding: 20px 0;
			margin-top: 50px;
			text-align: center;
		}

		#pie p {
			margin-bottom: 0;
		}

		#pie span {
			font-style: italic;
			color: #000;
		}

		#pie strong {
			color: #000;
		}
	</style>
</head>
<body>

	<div class="container">
		<div class="py-3">
			<a href="/" class="btn btn-primary">Volver al Menú</a>
		</div>
		<div class="py-5">
			<h2 class="text-center">Contacta con Nosotros</h2>
			<p class="text-center">si surge algun problema con los libros y si necesita que se Agregen mas libros </p>
			<hr>
			</div>

			<div class="row">
				<div class="col-md-6">
					<p class="text-left">
						Numero e informacion necesaria <br>
						Teléfono: <strong>2626-2626</strong><br>
						Celular: <strong>7575-7575</strong><br>
						Email: <strong><a href="mailto:joaquinurbina2@gmail.com" class="email-contacto">joaquinurbina2@gmail.com</a></strong>
					</p>
				</div>

				<div class="col-md-6">
					<form action="#" method="POST">
						<div class="form-group">
							<input type="text" name="nombre" placeholder="Ingresa tu nombre" class="form-control">
						</div>
						<div class="form-group">
							<input type="email" name="correo" placeholder="Ingresa tu correo" class="form-control">
						</div>
						<div class="form-group">
							<input type="text" name="asunto" placeholder="Ingresa el asunto" class="form-control">
						</div>
						<div class="form-group">
							<textarea name="mensaje" placeholder="Ingrese su mensaje" class="form-control"></textarea>
						</div>
						<button type="submit" name="enviar" class="btn btn-primary">Enviar consulta</button>
					</form>
				</div>
			</div>

			<div class="py-5">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3880.205886558182!2d-88.16743098199365!3d13.461402473858934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x72953df7e0502a9b!2sMetrocentro+San+Miguel!5e0!3m2!1ses-419!2ssv!4v1564899753613!5m2!1ses-419!2ssv" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>

		<div id="pie">
			<div class="container">
				<p class="text-center">
					<span> Todos los derechos reservados - 
					Diseñado por Joaquín Urbina</span>
				</p>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>
	</html>
